.contenido{
    margin-top: 20%;
    display: inline-block;
    margin-left: 2.5%;
    text-align: center;
}

#efectivo{
    width: 150px;
    float: left;
}

#tarjeta{
    width: 150px;
    float: left;
    margin-top: 10px;
}
