ion-title{
    text-align: center;
}

ion-grid{
    position: absolute;
    bottom: 0px;
    background-color: white;
}

#agregar{
    margin-left: 40%;
}

ion-list{
    padding-top: 20%;
}

#itemName{
    padding-left: 2%;
}